extends base.pug 

block content
    section#about
        h1 Who we are??
        p We are the best Dance Academy all over Uttar Pradesh and comes in the best all over India. We have the best Dance faculty for different dance forms like BharatNatyam,Kathakali,Kuchipudi and many other dance forms. We provide here brief introduction about our courses and achievment for more details you can Contact us via visiting contact us page.....
    section#about1
        div.container
            h1 Our Missions??
        div.container
            p 1.Our mission is to provide dancers of all levels with a platform to connect, learn, and grow in their love of dance.
            p 2.We are committed to promoting and celebrating the diversity of dance styles and cultures from around the world.Our goal is to provide high-quality dance resources, including tutorials, articles, and videos, to support dancers in their journey to mastery.
            p 3.We strive to connect dancers with opportunities to perform, compete, or showcase their talents, both locally and globally.Our mission is to foster a sense of community and collaboration within the dance world, connecting dancers, choreographers, and dance enthusiasts alike.
            p 4.We are dedicated to providing professional and reliable dance event planning services, ensuring every performance and competition is a success.Our mission is to create a safe and inclusive space where dancers of all backgrounds and abilities can express themselves and share their love of dance.
    