extends base.pug 

block content
    //- div.container
    section#tbl
        table.tble 
            thead MONDAY-BHARATNATYAM
                tr
                    th Time 
                    th Work 
            tbody 
                tr 
                    td 5:00 PM - 5:15 PM:
                    td Arrival and check-in
                tr 
                    td 5:15 PM - 5:30 PM:
                    td Warm-up and stretching exercises
                tr 
                    td 5:30 PM - 6:00 PM:
                    td Review and practice of previously learned dance steps and techniques
                tr 
                    td 6:00 PM - 7:00 PM:
                    td Instruction and practice of new dance steps and choreography
                tr 
                    td 7:00 PM - 7:15 PM:
                    td Cool-down exercises and stretches
                tr 
                    td 7:15 PM - 7:30 PM:
                    td Q&A and feedback session with the instructor
        table.tble 
            thead#headt THRUSDAY-KUCHIPUDI
                tr
                    th Time 
                    th Work 
            tbody 
                tr 
                    td 5:00 PM - 5:15 PM:
                    td Arrival and check-in
                tr 
                    td 5:15 PM - 5:30 PM:
                    td Warm-up and stretching exercises
                tr 
                    td 5:30 PM - 6:00 PM:
                    td Review and practice of previously learned dance steps and techniques
                tr 
                    td 6:00 PM - 7:00 PM:
                    td Instruction and practice of new dance steps and choreography
                tr 
                    td 7:00 PM - 7:15 PM:
                    td Cool-down exercises and stretches
                tr 
                    td 7:15 PM - 7:30 PM:
                    td Q&A and feedback session with the instructor
        table.tble 
            thead#headt FRIDAY-KATHAKKALI 
                tr
                    th Time 
                    th Work 
            tbody 
                tr 
                    td 5:00 PM - 5:15 PM:
                    td Arrival and check-in
                tr 
                    td 5:15 PM - 5:30 PM:
                    td Warm-up and stretching exercises
                tr 
                    td 5:30 PM - 6:00 PM:
                    td Review and practice of previously learned dance steps and techniques
                tr 
                    td 6:00 PM - 7:00 PM:
                    td Instruction and practice of new dance steps and choreography
                tr 
                    td 7:00 PM - 7:15 PM:
                    td Cool-down exercises and stretches
                tr 
                    td 7:15 PM - 7:30 PM:
                    td Q&A and feedback session with the instructor







//- Wednesday
//- 5:00 PM - 5:15 PM: Arrival and check-in
//- 5:15 PM - 5:30 PM: Warm-up and stretching exercises
//- 5:30 PM - 6:00 PM: Review and practice of previously learned dance steps and techniques
//- 6:00 PM - 7:00 PM: Instruction and practice of new dance steps and choreography
//- 7:00 PM - 7:15 PM: Cool-down exercises and stretches
//- 7:15 PM - 7:30 PM: Q&A and feedback session with the instructor

//- Friday
//- 5:00 PM - 5:15 PM: Arrival and check-in
//- 5:15 PM - 5:30 PM: Warm-up and stretching exercises
//- 5:30 PM - 6:00 PM: Review and practice of previously learned dance steps and techniques
//- 6:00 PM - 7:00 PM: Instruction and practice of new dance steps and choreography
//- 7:00 PM - 7:15 PM: Cool-down exercises and stretches
//- 7:15 PM - 7:30 PM: Q&A and feedback session with the instructor