extends base.pug 

block content
    section#missionServices 
      h2 Our Services 
      h4 We provide best dance services all over Uttar Pradesh 
      div.card 
        h3 Dance Perfection 
        div.card-box 
          div.card-img 
            img(src="/static/img/7.png")
          div.card-content 
            p This is the best dance academy of the universe

      div.card 
        h3 Dance the way you like 
        div.card-box 
          div.card-img 
            img(src="/static/img/8.png")
          div.card-content 
            p This is the best dance academy of the universe

      div.card 
        h3 Expert Teaching 
        div.card-box 
          div.card-img 
            img(src="/static/img/9.png")
          div.card-content 
            p This is the best dance academy of the universe

      div.card 
        h3 Master Kathakali 
        div.card-box 
          div.card-img 
            img(src="/static/img/kathakali.png")
          div.card-content 
            p Master Kathkali from our Kathakali experts

      div.card 
        h3 Master Kuchipudi 
        div.card-box 
          div.card-img 
            img(src="/static/img/kuchipudi.png")
          div.card-content 
            p Master kuchipudi from our kuchipudi experts

      div.card 
        h3 Master Bharatnatyam 
        div.card-box 
          div.card-img 
            img(src="/static/img/bharatnatyam.png")
          div.card-content 
            p Master Bharatnatyam from our South Indian experts
